.menubutton {
    position: fixed;
    width: 50px;
    top: 48%;
    right: 20px;
    text-align: center;
    font-size: 30px !important;
    color: white;
    background-color: transparent;
    border: none;
    z-index: 200;
}

.navigation {
    background-color: black;
    position: fixed;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    z-index: 199;
    animation-name: menu-panel-appear;
    animation-duration: 0.2s;
    animation-delay: 0s;

    div {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;

        nav {
            ul {
                padding: 0px;

                li {
                    padding: 10px;
                    list-style: none;
                    line-height: normal;

                    a {
                        width: auto;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        color: white;
                        text-decoration: none;
                        position: relative;
                        font-size: 70px;
                        font-weight: bold;
                        padding: 0;
                        color: white;
                        transition: color 0.5s;

                        &:hover {
                            color: #00429e;
                        }
                    }

                    &:last-child {
                        margin: 20px;

                        a {
                            color: white;
                            text-decoration: none;
                            position: relative;
                            font-size: 15px;
                        }
                    }
                }
            }
        }
    }
}

.menuList0 {
    animation-name: titleAppear;
    animation-duration: 0.5s;
    animation-delay: 0s;
    animation-timing-function: ease;
}

.menuList1 {
    animation-name: titleAppear;
    animation-duration: 0.8s;
    animation-delay: 0s;
    animation-timing-function: ease;
}

.menuList2 {
    animation-name: titleAppear;
    animation-duration: 1.1s;
    animation-delay: 0s;
    animation-timing-function: ease;
}

.menuList3 {
    animation-name: titleAppear;
    animation-duration: 1.4s;
    animation-delay: 0s;
    animation-timing-function: ease;
}

.menuList4 {
    animation-name: titleAppear;
    animation-duration: 1.7s;
    animation-delay: 0s;
    animation-timing-function: ease;
}

@keyframes menu-panel-appear {
    0% {
        background-color: #00289700;
        top: 50%;
        right: 50%;
        bottom: 50%;
        left: 50%;
    }

    100% {
        background-color: black;
        top: 0px;
        right: 0px;
        bottom: 0px;
        left: 0px;
    }
}

@keyframes titleAppear {
    0% {
        opacity: 0.0;
        top: 150px;
        left: -100px;
    }

    100% {
        opacity: 1;
        top: 0px;
        left: 0px;
    }
}