.landingMenu {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;

    .introduce {
        position: relative;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        .title {
            overflow: visible;

            .title0 {
                position: relative;
                font-size: 80px;
                margin: 10px;

                animation-name: titleAppear;
                animation-duration: 1s;
                animation-delay: 0s;
            }

            .title1 {
                position: relative;
                font-size: 80px;
                margin: 10px;

                animation-name: titleAppear;
                animation-duration: 2s;
                animation-delay: 0s;
            }

            .title2 {
                position: relative;
                font-size: 80px;
                margin: 10px;

                animation-name: titleAppear;
                animation-duration: 3s;
                animation-delay: 0s;
            }
        }

        .scrollBtn {
            animation-name: scrollAppear;
            animation-duration: 4s;
            animation-delay: 0s;


            cursor: pointer;
            position: fixed;
            width: 50px;
            height: 100px;
            bottom: 10px;
            right: 50%;
            transition: bottom 1s;

            .verticalLine {
                position: absolute;
                bottom: 50px;

                span {
                    width: 0px;
                    height: 40px;
                    border-right: solid white 2px;
                }

            }

            .scrollTitle {
                position: absolute;
                bottom: 10px;

                span {
                    font-size: 12px;
                    position: absolute;
                    left: 0px;
                }
            }

            &:hover {
                bottom: 20px;
            }
        }
    }

    .about {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;

        .aboutPanel {
            position: relative;
            width: 1300px;
            height: 60%;

            .topPanel {
                position: absolute;
                width: 80%;
                height: 40px;
                padding: 0 10% 0 10%;
                margin-top: 20px;
                animation-name: topPanelAppear;
                animation-duration: 1s;
                animation-delay: 0s;

                .top {
                    position: relative;
                    border: solid #0075c9 1px;
                    border-bottom: 0px;
                    height: 40px;
                    z-index: 100;
                }
            }

            .bottomPanel {
                position: absolute;
                width: 80%;
                height: 40px;
                padding: 0 10% 0 10%;
                margin-top: -70px;
                animation-name: bottomPanelAppear;
                animation-duration: 1s;
                animation-delay: 0s;

                .bottom {
                    position: relative;
                    border: solid #0075c9 1px;
                    border-top: 0px;
                    height: 40px;
                    z-index: 100;
                }
            }

            img {
                width: 100%;
                height: 100%;
                opacity: 0.7;
                animation-name: bgAppear;
                animation-duration: 1s;
                animation-delay: 0s;
            }

            .content {
                // border: solid #0075c9 1px;
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0px;
                right: 0px;
                bottom: 0px;
                left: 0px;

                div {
                    position: relative;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 100%;
                    height: 100%;
                    text-align: center;
                    // border: solid red 1px;

                    div {
                        display: block;
                        width: 70%;
                        height: 70%;

                        img {
                            position: absolute;
                            top: 20%;
                            right: 0px;
                            left: 0px;
                            animation-name: aboutAppear;
                            animation-duration: 3s;
                            animation-delay: 0s;
                        }

                        h1 {
                            position: relative;
                            margin-bottom: 30px;
                            animation-name: titleAppear;
                            animation-duration: 1s;
                            animation-delay: 0s;
                        }

                        div {
                            // border: solid red 1px;
                            padding: 0px;
                            width: 100%;
                            height: min-content;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            animation-name: letterAppear;
                            animation-duration: 1.5s;
                            animation-delay: 0s;

                            p {
                                font-size: 20px;
                                width: 70%;
                                line-height: 40px;
                            }
                        }

                        .aboutBtn {
                            position: absolute;
                            bottom: 0px;
                            left: 50%;
                            width: 0px;
                            animation-name: aboutButtonAppear;
                            animation-duration: 3s;
                            animation-delay: 0s;

                            .aboutLink {
                                position: relative;
                                display: flex;
                                color: white;
                                text-decoration: none;
                                width: 250px;
                                height: 40px;
                                padding: 10px 40px;
                                border: solid #008ee4 1px;
                                box-sizing: border-box;

                                &:hover {
                                    text-shadow: 0px 0px 5px #008ee4;
                                    box-shadow: inset 0 0 8px 1px rgba(0, 131, 225, 0.85), 0 0 12px 2px rgba(0, 131, 225, 0.75);
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .product {
        // border: solid red 1px;
        display: flex;
        justify-content: center;
        width: 100%;

        div {
            // border: solid red 1px;
            width: 70%;

            h1 {
                position: relative;
                font-size: 60px;
                margin: 20px 0px;

                animation-name: titleAppear;
                animation-duration: 1s;
                animation-delay: 0s;
            }

            p {
                width: 70%;
                line-height: 2;
                color: #0082e1;
                margin-bottom: 70px;
            }

            .productLink {
                position: relative;
                color: white;
                text-decoration: none;
                width: 250px;
                height: 40px;
                padding: 10px 50px;
                border: solid #008ee4 1px;
                text-align: center;
                box-sizing: border-box;
                animation-name: aboutButtonAppear;
                animation-duration: 3s;
                animation-delay: 0s;

                &:hover {
                    text-shadow: 0px 0px 5px #008ee4;
                    box-shadow: inset 0 0 8px 1px rgba(0, 131, 225, 0.85), 0 0 12px 2px rgba(0, 131, 225, 0.75);
                }
            }
        }
    }

    .contact {
        // border: solid red 1px;
        width: 400px;
        height: 400px;

        .contactBtn {
            position: relative;
            cursor: pointer;
            // border: solid red 1px;
            width: min-content;
            height: min-content;

            animation-name: contact-movement;
            animation-duration: 10s;
            animation-iteration-count: infinite;

            img {
                opacity: 0.7;
            }

            div {
                // border: solid green 1px;
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                right: 0;

                div {
                    position: relative;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 100%;
                    height: 100%;

                    p {
                        font-size: 40px;
                        font-weight: bold;
                    }
                }
            }
        }
    }
}

@keyframes titleAppear {
    0% {
        opacity: 0;
        top: 150px;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
        top: 0px;
    }
}

@keyframes contact-movement {
    0% {
        left: 0px;
        top: 135px;
    }

    50% {
        left: 135px;
        top: 0px;
    }

    100% {
        left: 0px;
        top: 135px;
    }
}

@keyframes scrollAppear {
    0% {
        opacity: 0;
        bottom: 0px;
    }
    50% {
        opacity: 0;
        bottom: 0px;
    }

    100% {
        opacity: 1;
        bottom: 10px;
    }
}

@keyframes topPanelAppear {
    0% {
        margin-top: -30px;
    }
    100% {
        margin-top: 20px;
    }
}

@keyframes bottomPanelAppear {
    0% {
        margin-top: -20px;
    }
    100% {
        margin-top: -70px;
    }
}

@keyframes bgAppear {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 0.7;
    }
}

@keyframes aboutAppear {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes titleAppear {
    0% {
        top: -40px;
    }
    100% {
        top: 0;
    }
}

@keyframes letterAppear {
    0% {
        top: -40px;
    }
    100% {
        top: 0;
    }
}

@keyframes aboutButtonAppear {
    0% {
        bottom: -40px;
    }
    100% {
        bottom: 0;
    }
}

