.landingMenu {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;

    .introduce {
        position: relative;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        .title {
            h1 {
                font-size: 80px;
                margin: 10px;
            }
        }

        .scrollBtn {
            position: absolute;
            bottom: 0px;

            div {
                position: relative;
                width: 100%;
                height: max-content;

                span {
                    width: 0px;
                    height: 40px;
                    border-right: solid white 2px;
                }

                &:first-Child {
                    height: 100px;
                    padding-top: 50px;
                }
            }

        }
    }

    .about {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;

        .aboutPanel {
            position: relative;
            width: 1300px;
            height: 60%;
            // border: solid green 1px;

            .topPanel {
                position: absolute;
                width: 80%;
                height: 40px;
                // border: solid red 1px;
                padding: 0 10% 0 10%;
                margin-top: 20px;

                .top {
                    position: relative;
                    border: solid #0075c9 1px;
                    border-bottom: 0px;
                    height: 40px;
                    z-index: 100;
                }
            }

            .bottomPanel {
                position: absolute;
                width: 80%;
                height: 40px;
                // border: solid red 1px;
                padding: 0 10% 0 10%;
                margin-top: -70px;

                .bottom {
                    position: relative;
                    border: solid #0075c9 1px;
                    border-top: 0px;
                    height: 40px;
                    z-index: 100;
                }
            }

            img {
                width: 100%;
                height: 100%;
                opacity: 0.7;
            }

            .content {
                // border: solid #0075c9 1px;
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0px;
                right: 0px;
                bottom: 0px;
                left: 0px;

                div {
                    position: relative;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 100%;
                    height: 100%;
                    text-align: center;
                    // border: solid red 1px;

                    div {
                        display: block;
                        width: 70%;
                        height: 70%;

                        img {
                            position: absolute;
                            top: 20%;
                            right: 0px;
                            left: 0px;
                        }

                        h1 {
                            margin-bottom: 30px;
                        }

                        div {
                            // border: solid red 1px;
                            padding: 0px;
                            width: 100%;
                            height: min-content;
                            display: flex;
                            justify-content: center;
                            align-items: center;

                            p {
                                font-size: 20px;
                                width: 70%;
                                line-height: 40px;
                            }
                        }

                        .aboutBtn {
                            position: absolute;
                            bottom: 0px;
                            left: 50%;
                            width: 0px;

                            .aboutLink {
                                position: relative;
                                display: flex;
                                color: white;
                                text-decoration: none;
                                width: 250px;
                                height: 40px;
                                padding: 10px 40px;
                                border: solid #008ee4 1px;
                                box-sizing: border-box;

                                &:hover {
                                    text-shadow: 0px 0px 5px #008ee4;
                                    box-shadow: inset 0 0 8px 1px rgba(0, 131, 225, 0.85), 0 0 12px 2px rgba(0, 131, 225, 0.75);
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .product {
        // border: solid red 1px;
        display: flex;
        justify-content: center;
        width: 100%;

        div {
            // border: solid red 1px;
            width: 70%;

            h1 {
                font-size: 60px;
                margin: 20px 0px;
            }

            p {
                width: 70%;
                line-height: 2;
                color: #0082e1;
                margin-bottom: 70px;
            }

            .productLink {
                position: relative;
                color: white;
                text-decoration: none;
                width: 250px;
                height: 40px;
                padding: 10px 50px;
                border: solid #008ee4 1px;
                text-align: center;
                box-sizing: border-box;

                &:hover {
                    text-shadow: 0px 0px 5px #008ee4;
                    box-shadow: inset 0 0 8px 1px rgba(0, 131, 225, 0.85), 0 0 12px 2px rgba(0, 131, 225, 0.75);
                }
            }
        }
    }

    .contact {
        // border: solid red 1px;
        width: 400px;
        height: 400px;

        .contactBtn {
            position: relative;
            cursor: pointer;
            // border: solid red 1px;
            width: min-content;
            height: min-content;

            animation-name: contact-movement;
            animation-duration: 10s;
            animation-iteration-count: infinite;

            img {
                opacity: 0.7;
            }

            div {
                // border: solid green 1px;
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                right: 0;

                div {
                    position: relative;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 100%;
                    height: 100%;

                    p {
                        font-size: 40px;
                        font-weight: bold;
                    }
                }
            }
        }
    }
}

@keyframes contact-movement {
    0% {
        left: 0px;
        top: 135px;
    }

    50% {
        left: 135px;
        top: 0px;
    }

    100% {
        left: 0px;
        top: 135px;
    }
}