.title {
    background: -webkit-linear-gradient(to right, #00a8ea 0%, #00429e 100%);
    background: -moz-linear-gradient(to right, #00a8ea 0%, #00429e 100%);
    background: -o-linear-gradient(to right, #00a8ea 0%, #00429e 100%);
    background: -ms-linear-gradient(to right, #00a8ea 0%, #00429e 100%);
    background: linear-gradient(to right, #00a8ea 0%, #00429e 100%);

    background-clip: text;
    -moz-background-clip: text;
    -webkit-background-clip: text;

    -webkit-text-fill-color: transparent;
}